[submodule "DashIcons"]
	path = DashIcons
	url = https://github.com/chenyihu/DashIcons.git
[submodule "gitignore"]
	path = gitignore
	url = https://github.com/github/gitignore.git
[submodule "xcconfigs"]
	path = xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "BuildKit"]
	path = BuildKit
	url = https://github.com/davidmorford/BuildKit.git
